.container_header {
    padding: 50px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;


    .title {
        color: #DB2828;
        text-align: center;
        font-family: "SVN-Minerva Modern";
        font-size: 24px;
        font-weight: 400;
        line-height: 140%;
        text-transform: uppercase;
    }

    .button_contact {
        display: flex;
        gap: 40px;

        .button {
            padding: 10px 16px;
            background: transparent;
            border-radius: 30px;
            border: 1px solid #000957;
            cursor: pointer;
            transition: all 0.3s ease;
            color: #000957;
            text-align: center;
            font-family: 'Helvetica';
            font-size: 18px;
            font-weight: 400;
            line-height: 140%;

            &:hover {
                background: #DB2828;
                color: #FFFFFF;
                border: 1px solid #DB2828;
            }
        }
    }
}

@media only screen and (max-width: 767.98px) {
    .container_header {
        padding: 50px 10px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1180.98px) {
    .container_header {
        padding: 50px 10px;
    }
}