@import '../../../assets/sass/abstracts/mixin.scss';

@font-face {
    font-family: 'SVN-Minerva Modern';
    src: url('../../../assets/fonts/SVNMinervaModern.otf') format('truetype');
}

@font-face {
    font-family: 'Helvetica';
    src: url('../../../assets/fonts/Helvetica.ttf') format('truetype');
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

// HOME
.container_home {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 100px 100px;
    gap: 18px;
    margin-bottom: 120px;
    width: 100%;



    .home_image_text {
        display: flex;
        gap: 45px;
        align-items: end;
        justify-content: center;

        .home_image {
            border-radius: 500px 500px 0px 500px;
            width: 280px;
            height: 270px;
        }

        .home_text {
            display: grid;
            gap: 28px;

            p {
                color: #000957;
                font-family: 'Helvetica';
                font-size: 16px;
                font-weight: 300;
                line-height: 140%;
            }

            h1 {
                color: #000957;
                text-align: center;
                font-family: "SVN-Minerva Modern";
                font-size: 195.165px;
                font-weight: 400;
                line-height: 169.793px;
                text-transform: uppercase;

                @include tablet {
                    font-size: 150px;
                }
            }
        }
    }

    .home_text_designer {
        color: #000957;
        font-family: 'SVN-Minerva Modern';
        font-size: 194.443px;
        font-weight: 400;
        line-height: 169.165px;
        text-transform: uppercase;

        @include tablet {
            font-size: 150px;
        }
    }
}

// INFOMATION
.container_information {
    padding: 0 200px 0 100px;
    display: flex;
    gap: 136px;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;

    .content {
        display: grid;
        gap: 50px;
        flex: 2;

        p {
            color: #000957;
            font-family: 'Helvetica';
            font-size: 40px;
            font-weight: 300;
            line-height: 130%;
            @media only screen and (max-width: 767.98px) {
                font-size: 18px;
            }
        }
    }

    .information_img {
        flex: 1;

        img {
            width: 497.327px;
            height: 497.327px;
            @media only screen and (max-width: 767.98px) {
                width: 100%;
                height: 100%;
            }
        }
    }
}

// Selected Projects 
.selected_projects_container {
    padding: 0 100px 120px;
    display: grid;
    gap: 12px;
    width: 100%;

    @include mobile {
        padding: 0 20px 60px;
    }

    @include tablet {
        padding: 0 50px 120px;
    }

    .selected_projects {
        color: #000957;
        font-family: 'SVN-Minerva Modern';
        font-size: 250px;
        font-weight: 400;
        line-height: 90%;
        letter-spacing: -4.737px;
        text-transform: uppercase;

        @include mobile {
            font-size: 80px;
        }

        @include tablet {
            font-size: 140px;
        }
    }

    .selected_projects_item {
        display: flex;
        justify-content: end;

        .selected_projects_text {
            color: #000957;
            text-align: right;
            font-family: 'SVN-Minerva Modern';
            font-size: 250px;
            font-weight: 400;
            line-height: 90%;
            letter-spacing: -4.737px;
            text-transform: uppercase;

            @include mobile {
                font-size: 80px;
            }

            @include tablet {
                font-size: 140px;
            }
        }

        .selected_projects_video_container {
            display: flex;
            align-items: center;

            .selected_projects_video {
                width: 140px;
                height: 140px;
                border-radius: 50%;
                @include mobile {
                    width: 50px;
                    height: 50px;
                }

                @include tablet {
                    width: 100px;
                    height: 100px;
                }
            }
        }
    }
}

// FEATURED
.container_featured {
    display: flex;
    gap: 50px;
    white-space: nowrap;
    overflow: hidden;
    justify-content: center;
    padding: 120px 0;

    .run {
        animation: slideTextRightLeft 10s linear infinite;
        display: flex;
        align-items: center;
        gap: 50px;

        p {
            color: #000;
            font-family: 'SVN-Minerva Modern';
            font-size: 100px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
            letter-spacing: -2px;
            text-transform: uppercase;
        }
    }

    .run_logo {
        // animation: slideTextLeftRight 10s linear infinite;
        display: flex;
        align-items: center;
        gap: 50px;
    }

    @keyframes slideTextRightLeft {
        0% {
            transform: translateX(0%);
        }

        100% {
            transform: translateX(-100%);
        }
    }

    p {
        font-size: 124px;
        font-weight: 700;
        line-height: 140.523%;
        margin: 0;
        white-space: nowrap;
    }
}

// Works
.container_works {
    display: grid;
    gap: 20px;
    width: 100%;
    padding: 50px 100px;

    .works_title {
        display: flex;
        text-align: center;
        font-size: 80px;
        font-weight: 600;
        margin: 0;
        justify-content: center;
    }

    .works_content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 80px;
        width: 100%;

        @include mobile {
            grid-template-columns: repeat(1, 1fr);
        }

        .product_item {
            display: grid;
            align-items: center;
            gap: 20px;

            img {
                width: 100%;
            }

            .product_content {
                display: flex;
                justify-content: space-between;
                width: 100%;
                align-items: center;

                .product_item_title {
                    color: #000957;
                    font-family: 'SVN-Minerva Modern';
                    font-size: 40px;
                    font-weight: 400;
                    line-height: 120%;
                }

                .product_item_content {
                    color: var(--neutral-50, #64748B);
                    font-family: 'Helvetica';
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 140%;
                    text-decoration-line: underline;
                    cursor: pointer;
                }
            }
        }
    }
}

// Let’s Talk
.container_let_task {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
    @include tablet {
        padding: 50px 0;
    }

    @include mobile {
        display: block;
    }

    .content_container {
        display: grid;
        flex: 1;

        .content_item {
            display: flex;
            gap: 400px;
            justify-content: start;
            padding: 32px 0;

            @include tablet {
                gap: 80px; 
            }
            @include mobile {
                gap: 8px; 
            }

            &.border_bottom {
                border-bottom: 1px solid #94A3B8;
            }

            .content_number {
                color: #DB2828;
                font-family: 'Helvetica';
                font-size: 14px;
                font-weight: 300;
                line-height: 130%;
            }

            .content_text_container {
                display: grid;
                gap: 10px;
                justify-content: start;
                align-items: start;

                .content_text_title {
                    color: #000957;
                    font-family: 'SVN-Minerva Modern';
                    font-size: 32px;
                    font-weight: 400;
                    line-height: 130%;
                }

                .content_text {
                    color: #000957;
                    font-family: 'Helvetica';
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 150%;
                }
            }
        }
    }
}

// ===== Mobile =====

@media only screen and (max-width: 767.98px) {
    .container_home {
        padding: 100px 20px;

        .container_title {

            .circle {

                h1 {
                    margin: -10px;
                    padding: 0px;

                    image {
                        width: 150px;
                        height: 150px;
                    }
                }

            }

            .title_item {
                .title_welcome {
                    font-size: 18px;
                }

                .title {
                    font-size: 42px;
                }
            }
        }
    }

    .container_information {
        padding: 0 20px;
        display: grid;
        gap: 20px;

        .information_title {
            .title_about {
                font-size: 18px;
            }

            .content {
                p {
                    font-size: 24px;
                }
            }
        }
    }

    .container_featured {
        gap: 20px;
        padding: 50px 0;

        .run_logo {

            gap: 20px;

            svg {
                width: 50px;
                height: 50px;
            }
        }
    }

    .container_works {
        padding: 20px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1180.98px) {

    // ===== Home =====
    .container_home {
        padding: 100px 20px;
    }

    // ===== INFOMATION =====
    .container_information {
        padding: 0 20px;
        display: flex;
        gap: 20px;

        .information_title {
            .title_about {
                font-size: 18px;
            }

            .content {
                p {
                    font-size: 24px;
                }
            }
        }
    }

    // ===== Works =====
    .container_works {
        padding: 0 20px;
    }
}